* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

body{
    text-align: center;
    font-size: 2rem;
 }

 .main {
    padding: 20px;
    float: left;
    width: 65%;
  }
  
.right {
    padding: 20px;
    float: left;
    width: 35%;
  }
  
@media screen and (max-width: 1000px) {
    .main, .right {
      width: 100%;
  }
}

#mainhead{
    font-size: 2.8rem;
    font-weight: bold;
}

.titlebg{
    background-image: url('bghome.jpg');
    background-size: cover;
    height: 70vh;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    opacity:0.8;
}

.titletxt{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;    
}

.mainimg{
    opacity: 0.75;
}

#articles{
    cursor: pointer;
}