html {
  height: 100%;
}

body {
  height: 85vh;
}

.center {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.question-number {
  font-size: 5rem;
  font-weight: bold;
}

.header-container {
  padding-top: 3rem;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

.question-title {
  margin: 3rem 1rem;
  font-size: 6rem;
}

.timer {
  font-size: 3rem;
  padding: 1rem;
  background-color: #128300;
  color: white;
  border-radius: 8px;
}

.answer-container {
  height: 100%;
  margin: 3rem 2rem;
  display: flex;
  flex-wrap: wrap;
}

.answer {
  cursor: pointer;
  padding: 2rem;
  border-radius: 8px;
  margin: 2rem;
  flex: 1 0 45%;
  background-color: rgb(209, 209, 209);
  align-items: center;
  font-size: 5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.answer:hover {
  background-color: rgb(153, 153, 153);
}

@media all and (max-width: 780px) {
  .answer {
    flex: 1 1 80%;
    margin: 1rem;
    font-size: 1.3rem;
  }
  .question-title {
    font-size: 2rem;
  }
  .question-number {
    margin-top: 1rem;
    font-size: 3rem;
  }
  .timer {
    font-size: 1.6rem;
  }
  .center {
    margin-top: 0;
  }
}
