h2 {
  font-size: 3rem;
  padding-bottom: 3rem;
}

.div-center {
  width: 80%;
  margin: 50px auto;
}

.why-contact {
  display: flex;
  justify-content: center;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
}

select,
input,
textarea {
  border-width: medium;
  border-color: black;
  border-radius: 6px;
}

label {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

select {
  width: 100%;
  padding: 5px;
}

input {
  font-size: 1.6rem;
  padding: 5px;
}

textarea {
  padding: 5px;
  height: 20rem;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-btn {
  background-color: azure;
  color: black;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  margin: auto;
}

.submit-btn:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}

.alert {
  margin-bottom: 1rem;
  height: auto;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 6px;
}

.alert-red {
  color: #721c24;
  background: #f8d7da;
}

.alert-green {
  color: #155724;
  background: #d4edda;
}

@media all and (min-width: 781px) {
  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .input-column {
    width: 32%;
  }
}
