h2 {
  font-size: 4rem;
  padding-bottom: 3rem;
}

.div-center {
  width: 80%;
  margin: 50px auto;
}

.why-contact {
  display: flex;
  justify-content: center;
}

.heading {
  padding-bottom: 3rem;
}

p {
  display: flex;
  justify-content: flex-start;
}

select {
  width: 100%;
  padding: 5px;
}

input {
  font-size: 1.6rem;
  border-radius: 6px;
  padding: 5px;
}

::placeholder {
  color: black;
}

textarea {
  border-radius: 6px;
  padding: 5px;
  height: 20rem;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.form-control {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: azure;
  color: black;
  padding: 0.6rem 1rem;
  border-radius: 8px;
}

.btn:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}

label {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

@media all and (min-width: 781px) {
  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 3rem;
  }
  .input-column {
    width: 32%;
  }
}
