.range {
    -webkit-appearance: none;
    appearance: none; 
    flex-grow: 1;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 6px;
    background: #ccc;
}
  
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 32px;
    width: 32px;
    background: transparent;
    background-image: url("https://ibaslogic.github.io/hosted-assets/smile.png");
    background-size: cover;
    border-radius: 50%;
    transition: .2s ease-in-out;
    transform: rotateZ(var(--thumb-rotate, 0deg));
}
  
.range::-moz-range-thumb {
    height: 32px;
    width: 32px;
    background: transparent;
    background-image: url("https://ibaslogic.github.io/hosted-assets/smile.png");
    background-size: cover;
    border: none;
    border-radius: 50%;
    transform: rotateZ(var(--thumb-rotate, 0deg));
    transition: .2s ease-in-out;
}
  
.range::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255,85,0, .1), inset 0 0 0 5px rgba(255,85,0, .1)
}
.range:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2), inset 0 0 0 5px rgba(255,85,0, .2)
}
  
.range::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255,85,0, .1), inset 0 0 0 5px rgba(255,85,0, .1)
}
.range:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2), inset 0 0 0 5px rgba(255,85,0, .2)
}
  
h1 {
    color: #4b4949; 
    text-align: center;
    font-size: 40px;
}
  
.rangeDiv {
    margin: 20px;
    width: calc(100% - 40px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}