h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h2 {
    font-size: 22px;
}

label {
    font-size: 22px;
}

.column {
    width: 90%;
    margin: 0 auto;
}

.table {
    border: 1px solid;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 23px;
}

.enabled:hover {
    border: none;
    box-shadow: inset 0 0 0 2px #000000;
}

.selected {
    border: none;
    box-shadow: inset 0 0 0 4px #000000 !important;
}

.selected::after {
    content: "✓";
}

th, td {
    padding: 5px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: fit-content;
}

.reviewDiv {
    margin: 10px;
    height: 320px;
    margin-bottom: 30px;
}

.surface {
    background-color: var(--surface);
    border: 2px solid var(--on-surface);
    border-radius: 10px;
    padding: 10px;
    height: 320px;
}    

.bracket {
    background: -moz-linear-gradient(left, var(--surface), var(--surface)) padding-box, -moz-linear-gradient(left, var(--surface) 0%, var(--surface) 50%, blue 33%, blue 100%) border-box;
    background: -webkit-linear-gradient(left, var(--surface), var(--surface)) padding-box, -webkit-linear-gradient(left, var(--surface) 0%,var(--surface) 50%,blue 33%,blue 100%) border-box;
    background: linear-gradient(var(--surface), var(--surface)) padding-box, linear-gradient(to right, var(--surface) 0%,var(--surface) 50%,blue 33%,blue 100%) border-box;
    border: 3px solid transparent;
    border-radius: 10px;
    height: 300px;
    width: 30px;
    float: left;
    position: relative;
}

.measurements {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(5px, -50%);
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--surface);
}

.man {
    filter: brightness(300%) sepia(100%) hue-rotate(190deg) saturate(500%);
    float: left;
}

.attributes {
    width: calc(100% - 250px);
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    height: 320px;
    float: left;
}

.box {
    width: calc(50% - 10px);
    height: 103px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: inline-block;
    padding: 8px 18px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 8px;
    box-shadow: 0 9px #999;
    margin-bottom: 8px;
}

button:hover {
    background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.manDiv {
    width: 240px;
    float: left;
}

#weight-text {
    width: 115px;
}

#height-text {
    width: 115px;
}

#exercise-text {
    width: 230px;
}

#alcohol-text {
    width: 178px;
}

#weight {
    --sliderImg: url("https://emoji.aranja.com/static/emoji-data/img-apple-160/1f600.png");
}

#weight::-webkit-slider-thumb {
    background-image: var(--sliderImg) !important;
}

#weight::-moz-range-thumb {
    background-image: var(--sliderImg) !important;
}

#height {
    --sliderImg: url("https://emoji.aranja.com/static/emoji-data/img-apple-160/1f62e.png");
}

#height::-webkit-slider-thumb {
    background-image: var(--sliderImg) !important;
}

#height::-moz-range-thumb {
    background-image: var(--sliderImg) !important;
}

#exercise {
    --sliderImg: url("https://emoji.aranja.com/static/emoji-data/img-apple-160/1f600.png");
}

#exercise::-webkit-slider-thumb {
    background-image: var(--sliderImg) !important;
}

#exercise::-moz-range-thumb {
    background-image: var(--sliderImg) !important;
}

#alcohol {
    --sliderImg: url("https://emoji.aranja.com/static/emoji-data/img-apple-160/1f62e.png");
}

#alcohol::-webkit-slider-thumb {
    background-image: var(--sliderImg) !important;
}

#alcohol::-moz-range-thumb {
    background-image: var(--sliderImg) !important;
}

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    z-index: 100;
    visibility: hidden;
}
  
#overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .attributes {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
    }

    .manDiv {
        float: none;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 550px) {
    .box {
        width: 240px;
    }

    .attributes {
        margin: 10px auto;
    }

    label {
        font-size: 16px;
    }
}