.title {
    font-size: calc(1vw + 1vh);
    margin: 3vw;
}

.title p {
    margin-top: 2vw;
}

#section-center {
    display: flex;
    flex-direction: column;
}

.info-container {
    margin: 2vw;
    display: flex;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 2rem;
    padding: 2vw 3vw;
    font-size: calc(1vw + 1vh);
    background-color: white;
}

.left {
    display: flex;
    align-items: center;
    width: 40vw;
    height: auto;
}

.left img {
    width: 40vw;
    border-radius: 2rem;
    border: 0.4vw solid black;
}

.right {
    margin-left: 2vw;
    width: 100%;
}

.right h2 {
    margin-bottom: 2vw;
}

.right p {
    margin-bottom: 1vw;
}

@media screen and (max-width: 500px) {
    .info-container {
        flex-flow: column;
    }
    .left {
        order: 2;
        width: 100%;
        justify-content: center;
    }
    .left img {
        width: 80vw;
    }
    .right {
        order: 1;
        text-align: center;
        margin-bottom: 10px;
    }
}
